# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.venv/
venv/
.env

# Backend
backend/.env
backend/venv/
backend/uploads/
backend/*.db
backend/.python-version

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/tsconfig.tsbuildinfo

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.vscode/
.idea/
*.swp

# Misc
*.log
.cache/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
