fastapi==0.115.0
uvicorn[standard]==0.32.0
sqlalchemy==2.0.36
alembic==1.14.0
psycopg[binary]==3.2.3
python-jose[cryptography]==3.3.0
bcrypt==4.2.1
passlib[bcrypt]==1.7.4
boto3==1.35.82
pillow==11.0.0
pillow-heif==0.21.0
pydantic[email]==2.9.2
pydantic-settings==2.6.1
python-multipart==0.0.12
python-dotenv==1.0.1
aiofiles==24.1.0
